/*my dev scss file*/
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #8f813d;
}

h1 {
  margin-left: 5px;
  background-color: #bf7540;
  border: 3px dashed red;
}

nav {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
nav ul {
  margin-left: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: flex-end;
      -ms-flex-direction: flex-end;
          flex-direction: flex-end;
}
nav ul li {
  border: 1px dashed red;
  list-style: none;
  padding: 5px 30px;
}

div {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 5px;
}

input {
  border: 1px dashed red;
  border-radius: 5px;
  height: 1.5em;
}

button {
  padding: 5px 5px;
  margin-left: 5px;
  border-radius: 5px;
}
